<a href="https://colab.research.google.com/github/stephyi/SQL-DOJO/blob/master/SQL_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Connecting to our database

In [ ]:
%load_ext sql
%sql sqlite://

import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Loading our dataset

In [ ]:
accidents=pd.read_csv('traffic_accidents.csv')

%sql DROP TABLE if EXISTS accidents;

%sql PERSIST accidents;

## To ensure that we exported the right data we check the vehicle_year column(should be in the 
## range of the last 15 years)
%sql SELECT MIN(vehicle_year) FROM accidents LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(2006,)]

## Overview of our table

### Brief Description

In [ ]:
%%sql 
SELECT * FROM accidents LIMIT 5;

 * sqlite://
Done.

[(0, 758369, 'JC469557', '2019-10-12T01:57:00', 1, 'DRIVER', None, 720366, None, 'DODGE', 'NITRO', 'IL', 2011, 'UNKNOWN', 'PASSENGER', 'UNKNOWN/NA', 'W', 'STRAIGHT AHEAD', None, None, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1, None, 'OTHER', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1, 758356, 'JC469523', '2019-10-12T00:30:00', 1, 'DRIVER', None, 720356, None, 'VOLVO', 'XC90', 'IL', 2020, 'NONE', 'SPORT UTILITY VEHICLE (SUV)', 'PERSONAL', 'S', 'SLOW/STOP IN TRAFFIC', None, None, 1, None, None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, 'SIDE-RIGHT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (2, 758329, 'JC469467', '2019-10-11T23:41:00', 1, 'DRIVER', 2.0, 720325, None, 'TOYOTA MOTOR COMPANY, LTD.', 'UNKNOWN', 'IL', 2015, 'NONE', 'PASSENGER', 'PERSONAL', 'E', 'PASSING/OVERTAKING', 1, None, 3, None, 'unknown', 'unknown', None, None, None, 1, 1, 1, 1, 1, None, None, None, None, None, None, 'REAR', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (3, 758330, 'JC469467', '2019-10-11T23:41:00', 2, 'DRIVER', None, 720334, None, 'SUBARU', 'FORESTER', 'IL', 2014, 'NONE', 'PASSENGER', 'PERSONAL', 'E', 'TURNING LEFT', None, None, 1, None, None, None, None, 1, 1, None, None, None, None, None, None, None, None, None, 1, None, 'FRONT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4, 758333, 'JC469482', '2019-10-11T23:20:00', 1, 'DRIVER', None, 720328, None, 'CHEVROLET', 'IMPALA', 'IL', 2017, 'UNKNOWN', 'PASSENGER', 'PERSONAL', 'N', 'STRAIGHT AHEAD', None, None, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'UNKNOWN', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

In [ ]:
%sql SELECT DISTINCT num_passengers FROM accidents;

 * sqlite://
Done.

[(None,),
 (2.0,),
 (1.0,),
 (5.0,),
 (4.0,),
 (3.0,),
 (10.0,),
 (7.0,),
 (9.0,),
 (8.0,),
 (11.0,)]

## List of 5 makes that had the highest number of crashes

In [ ]:
%%sql
SELECT count(*) AS Crashes,make
FROM accidents
GROUP BY make 
ORDER BY Crashes DESC
LIMIT 5;

 * sqlite://
Done.

[(609, 'TOYOTA MOTOR COMPANY, LTD.'),
 (545, 'FORD'),
 (538, 'CHEVROLET'),
 (478, 'NISSAN'),
 (345, 'HONDA')]

## Most personal vehicles were travelling towrds which direction

In [ ]:
%%sql
SELECT COUNT(travel_direction) AS direction,make,vehicle_use,travel_direction
FROM accidents
WHERE vehicle_use='PERSONAL'
GROUP BY travel_direction
ORDER BY direction DESC;

 * sqlite://
Done.

[(849, 'DODGE', 'PERSONAL', 'N'),
 (807, 'NISSAN', 'PERSONAL', 'S'),
 (765, 'HYUNDAI', 'PERSONAL', 'W'),
 (708, 'MERCEDES-BENZ', 'PERSONAL', 'E'),
 (116, 'INFINITI', 'PERSONAL', 'UNKNOWN'),
 (50, 'LEXUS', 'PERSONAL', 'SE'),
 (48, 'HONDA', 'PERSONAL', 'NW'),
 (30, 'NISSAN', 'PERSONAL', 'SW'),
 (23, 'CHEVROLET', 'PERSONAL', 'NE')]

## Passengers involved in accident in personal cars

In [ ]:
%%sql
SELECT SUM(num_passengers)
FROM accidents
WHERE vehicle_use='PERSONAL';

 * sqlite://
Done.

[(827.0,)]

## Passengers involved in accident travelling in SUV

In [ ]:
%%sql
SELECT SUM(num_passengers)
FROM accidents
WHERE vehicle_type='SPORT UTILITY VEHICLE (SUV)';

 * sqlite://
Done.

[(166.0,)]

## Total number of Mercedez-Benz in accident while parked

In [ ]:
%%sql
SELECT count(*)
FROM accidents
WHERE model='MERCEDES-BENZ' AND maneuver='PARKED';

 * sqlite://
Done.

[(1,)]

## Total occupant count per vehicle count

In [ ]:
%%sql
SELECT SUM(num_passengers) AS Occupants,vehicle_type
FROM accidents
GROUP BY vehicle_type
ORDER BY Occupants DESC;

 * sqlite://
Done.

[(765.0, 'PASSENGER'),
 (166.0, 'SPORT UTILITY VEHICLE (SUV)'),
 (71.0, 'VAN/MINI-VAN'),
 (63.0, 'BUS OVER 15 PASS.'),
 (29.0, 'BUS UP TO 15 PASS.'),
 (24.0, 'UNKNOWN/NA'),
 (21.0, 'OTHER'),
 (15.0, 'PICKUP'),
 (13.0, 'TRUCK - SINGLE UNIT'),
 (4.0, 'SINGLE UNIT TRUCK WITH TRAILER'),
 (2.0, 'MOTORCYCLE (OVER 150CC)'),
 (2.0, 'OTHER VEHICLE WITH TRAILER'),
 (None, 'FARM EQUIPMENT'),
 (None, 'MOPED OR MOTORIZED BICYCLE'),
 (None, 'TRACTOR W/ SEMI-TRAILER'),
 (None, 'TRACTOR W/O SEMI-TRAILER')]

## Number of passengers by travel direction

In [ ]:
%%sql
SELECT SUM(num_passengers) AS passengers,travel_direction
FROM accidents
GROUP BY travel_direction
ORDER BY passengers DESC;

 * sqlite://
Done.

[(285.0, 'W'),
 (280.0, 'N'),
 (274.0, 'S'),
 (272.0, 'E'),
 (21.0, 'SE'),
 (17.0, 'SW'),
 (10.0, 'UNKNOWN'),
 (8.0, 'NE'),
 (8.0, 'NW')]

## Top 5 vehicle models involved in accident with no defect

In [ ]:
%%sql
SELECT count(vehicle_type),maneuver,vehicle_type,make
FROM accidents
WHERE vehicle_defect='NONE'
GROUP BY vehicle_type
ORDER BY make
LIMIT 5;

 * sqlite://
Done.

[(85, 'STRAIGHT AHEAD', 'TRUCK - SINGLE UNIT', 'AUTOCAR'),
 (60, 'STRAIGHT AHEAD', 'BUS OVER 15 PASS.', 'BLUE BIRD BODY CO.'),
 (72, 'SLOW/STOP IN TRAFFIC', 'PICKUP', 'CHEVROLET'),
 (11, 'PARKED IN TRAFFIC LANE', 'BUS UP TO 15 PASS.', 'FORD'),
 (15, 'TURNING LEFT', 'UNKNOWN/NA', 'FORD')]

## Ride-sharing vehicles in an accident with most number of passengers

In [ ]:
%%sql
SELECT model,num_passengers
FROM accidents
WHERE vehicle_use='RIDESHARE SERVICE'
ORDER BY num_passengers DESC
LIMIT 5;

 * sqlite://
Done.

[('MKZ', 4.0),
 ('MALIBU (CHEVELLE)', 3.0),
 ('Prius', 3.0),
 ('COROLLA', 3.0),
 ('RX350', 2.0)]

### RECOMMENDATIONS


*  Traffic signs should be kept in place for people travelling in the Northern direction.
*   Give cautionary recommendations to personal vehicles users as they have the highest number of accidents compared to SUV.

*   Advice people on the best vehicle models(eg ford and chevrolet) as they are not majorly affected.